@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');
body{
    margin: 0px;
    font-family: 'Libre Franklin', sans-serif;
    /* font-family: 'Apple chancery',cursive; */
}
#heading{
    font-size: 30px;
    color: crimson;
    border-bottom: 3px solid rgb(49, 44, 44);
    margin-top: 10px;
    padding: 10px;
}
#color{
    float: right;
    margin-right: 15px;
}
#container{
    text-align: center;
    padding: 350px;
}
#btn{
    width: 180px;
    letter-spacing: 2px;
    height: 40px;
    border-radius: 10px;
    padding: 6px;
    background-color: crimson;
    color: aliceblue;
    border: 3px solid white;
}